@import url('https://fonts.googleapis.com/css2?family=Alice&family=Playfair+Display:wght@700&family=Source+Sans+Pro:wght@400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;}

body{
    background-color: #111;
}

.board{
    text-align: center;
    color: white;
    font-family: "Playfair Display", serif;
}

.all-board{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.board-member{
    padding: 5px;
    border-radius: 5px;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    background-color:black;
    text-align: center;
}
.desc{
    font-size: 18px;
}

