body {
    background-color: var(--dark);
    color: var(--light);
}

section {
    padding: 30px;
}

h2 {
    text-align: center;
}

.headingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding-top: 0;
}

.headingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    /* justify-content: space-between; */
    /* height: 70vh; */
}

h1.heading {
    font-size: clamp(30px, calc(20px + 4vw), 72px);
    /* text-align: left; */
    padding: 0;
    color: var(--light);
    text-align: center;
    padding: 30px;
}

.downArrow {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    animation: bouncing 1s infinite alternate ease-in-out;
    -webkit-animation: bouncing 1s infinite alternate ease-in-out;
}

@keyframes bouncing {
    0% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }
}

.magazineCoverImage {
    width: 100vw;
    margin-bottom: 30px;
    position: relative;
}

.magazineCoverImagePic {
    width: 100%;
}

.magazineCoverImageOverlay {
    width: 100%;
    height: 50%;
    position: absolute;
    background: linear-gradient(180deg, #020f1700, #020f17ff);
    bottom: 0;
}

.mission-visionWarpper {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.mission-visionContent {
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mission-visionContent:nth-child(1) {
    background: linear-gradient(270deg, #159F4D, #3eda7d);
}

.mission-visionContent:nth-child(2) {
    background: linear-gradient(90deg, #3ACAEF, #10A2CA);
}

.mission-visionContent>h2 {
    text-align: center;
    margin-bottom: 10px;
}

.pagesWarpper {
    background: #FEAC5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #4BC0C8, #C779D0, #FEAC5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #4BC0C8, #C779D0, #FEAC5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pages {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.pagesTitle {
    margin-bottom: 30px;
}

.magazineCoverImageOverlay{
    display: none;
}

.page-button {
    padding: 10px;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.page-button:hover {
    background-color: var(--dark);
    color: var(--light);
}

.board-member {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #111;
}

.boardWrapper {
    background: #2196f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f44336, #2196f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f44336, #2196f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.board-member>p {
    font-size: 0.75em;
}

.pages>.only-page-button:hover {
    cursor: pointer;
    animation: pageHover 1s infinite alternate ease-in-out;
    -webkit-animation: pageHover 1s infinite alternate ease-in-out;
    font-weight: bold;
}

@keyframes pageHover {
    0% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
    }

    100% {
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
    }
}

.high-commisioners-message {
    width: 100%;
    height: calc(100vh - 60px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.headsMessageWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.headMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.headMessageContent {
    font-weight: lighter;
}

.footerWrapper{
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.createdBy{
    text-decoration: none;
    background-color: var(--accent3);
    color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 10px;
}

.createdBy:hover{
    background-color: var(--accent2);

}

.headMessageHeading{
    margin-top: 20px;
}

@media (min-width: 800px) {
    .mission-visionWarpper {
        grid-template-columns: 2fr 3fr;
    }

    .pages {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1100px) {
    section {
        padding: 50px;
    }

    .magazineCoverImageOverlay {
        display: none;
    }

    .headingWrapper {
        flex-direction: row-reverse;
        margin-top: 15vh;
        margin-bottom: 15vh;
        padding-bottom: 0;
    }

    .headingText {
        text-align: left;
        align-items: flex-start;
        height: 70vh;
        justify-content: space-between;
        margin: 0;
    }

    .headingText>h1.heading {
        text-align: left;
        padding: 0;
    }

    .magazineCoverImage {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-right: 50px;
    }

    .magazineCoverImagePic {
        height: 70vh;
        width: auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .pages {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .pagesWarpper {
        background: #FEAC5E;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #4BC0C8, #C779D0, #FEAC5E);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .boardWrapper {
        background: #2196f3;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f44336, #2196f3);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f44336, #2196f3);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .page-button {
        padding: 20px 10px;
    }

    .headsMessageWrapper {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
    }
    .footerWrapper{
        background-color: #000;
        padding-top: 20px;
        padding-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    }
}