.studentWriteUpWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.studentWriteUp{
    background-color: var(--grey300);
    border: 2px solid var(--black);
}

.studentProfile{
    display: flex;
    align-items: center;
}

.studentProfile img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}