p {
    color: var(--dark);
    width: 100%;
    padding:0 5vw;
}

body {
    background-color:antiquewhite;
    
}

h2{
    font-weight: lighter;
    font-size: 0.70cm;
}

.grv{
    display: block;
    text-align: right;
}

h1{
   margin: 0%;
   padding: 0%; 
}
p{
    font-size: 0.5cm;
}

.niggers{
    border-radius: 100px;
   
    image-rendering: optimizeQuality;
    width: 80%;
    margin: 0 10%;
    margin-top: 1cm;
}