*{
    font-family: "Source Sans Pro";
}

.searchInputWrapper{
    width: 100%;
    height: 50px;
    background-color: var(--accent4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchInput{
    width: 310px;
    display: flex;
    align-items: center;
}

.searchInput input{
    width: 270px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--grey500);
    font-size: 15px;
    outline: none;
    color: var(--grey700);
    margin-right: 10px;
    padding: 5px;
}

.searchInput input:active, .searchInput input:focus{
    border-bottom: 2px solid var(--grey700);
}

.searchInput i{
    font-size: 25px;
    color: var(--grey500);
    cursor: pointer;
}


/* Articles List */

.articlesList{
    padding: 20px;
    padding-left: 40px;
}

.articlesList ul li{
    margin-bottom: 15px;
}