@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Poppins;

}

nav{
  background: #fC9676;
  height: 75px;
  width: 100%;
}

label.logo{
  padding-left: 12px;
  vertical-align: bottom;
  color:rgb(255, 255, 255);
  font-size: 35px;
  line-height: 70px;
  font-weight: bold;
}

nav ul{
  float:right;
  margin-right: 20px;
}

nav ul li{
  
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;

}

nav ul li a{

  color: white;
  font-weight: bold;
  font-size: 19px;
  padding: 7px 10px;
  border-radius: 3px;
  text-transform: uppercase;


}


a:hover{
  background: #ff7f57;
  transition: .65s;
}

.end{
  padding-right: 1cm;
  margin-right: 1cm;
}

a.end,a.hover{
  background: #ff7f57;
}

.emblem img{
  padding-left: 7px;
  /* width:35px; */
  height:55px;
}