.student{
   
    width: 250PX;
    display:inline-block;
    float: left;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    border-radius: 100%;
    object-fit: cover;
    object-position: top;
    height: 250PX;
    width: 250PX;
}
p{text-align: justify;  



}