@import url('http://fonts.cdnfonts.com/css/agright');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 12px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #ffffff00;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

body {
    cursor: none;
    overflow-x: hidden;
    width: 100vw;
    color: var(--dark);
    background-color: var(--light);
}

.cursor {
    width: 40px;
    height: 40px;
    border: 5px solid var(--accent3);
    border-radius: 50%;
    transition: 200ms ease-out;
    pointer-events: none;
    position: absolute;
    z-index: 10000;
    mix-blend-mode: multiply;
    -webkit-user-select: none;
    /*Safari*/
    -ms-user-select: none;
    /*IE10andIE11*/
    user-select: none;
    /*Standardsyntax*/
    position: absolute;
}

.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(221, 220, 213); */
    padding: clamp(10px, 4vw, 30px);
    background-color: var(--accent3);

}

.blob {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cover>h1 {
    font-family: 'agright', sans-serif;
    font-weight: 500;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    padding: 0;
    -webkit-text-stroke: 1px var(--dark);
}

.cover>h1:hover {
    color: transparent;
}

.cover>.scrollDown {
    height: 20px;
    position: absolute;
    bottom: 50px;
    object-fit: contain;
}

.scrollDownButton {
    height: 20px;
    background-size: contain;
}

.pageWrapper {
    padding: clamp(10px, 4vw, 30px);
}

.topperCards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;

}

.card {
    width: fit-content;
    height: 100%;
    background-color: var(--accent3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    /* display: inline-block; */
}

.cardBg {
    background: black;
    height: 25vh;
    position: relative;
    margin-bottom: 10vh;
}

.cardBg1 {
    background: url("https://cdn.vectorstock.com/i/1000x1000/33/27/physics-seamless-wallpaper-vector-2093327.webp");
    background-size: cover;
}

.cardBg2{
    background: url("https://i.pinimg.com/736x/fe/8a/57/fe8a57139428affcda932662bbe277cc.jpg");
    background-size: cover;
}

.profilePic {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    object-position: top;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 #000000aa;
}

.cardContent {
    padding: clamp(10px, 4vw, 30px);
}

.profileName {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-left: clamp(10px, 4vw, 30px);
    padding-right: clamp(10px, 4vw, 30px);
    font-size: 30px;
}

/* table, th, td{
    border: 2px var(--dark) solid;
    border-collapse: collapse;
} */

table {
    width: 100%;
}

th, td {
    padding: 10px;
}

th {
    background-color: var(--dark);
    color: var(--light);
}


@media (max-width: 600px) {
    .topperCards {
        grid-template-columns: 1fr;
    }
}