.cardsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 50px;
}

.card {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
}

.cardImage img {
    background-color: #eee;
    width: 100%;
}

.cardName {
    text-align: center;
    padding: 10px;
    background-color: #eee;
}

@media (max-width: 1000px) {
    .cardsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 800px) {
    .cardsGrid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 500px) {
    .cardsGrid {
        grid-template-columns: 1fr;
    }
}